# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore .env files (เพื่อป้องกันไม่ให้ข้อมูลลับเช่น API key หรือ Database credentials ถูก commit)
.env

# Ignore build directories
dist/
build/

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db
